name: Update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Check Update
        id: check_update
        run: |
          cd update
          go build -o ../run
          cd ..
          ./run
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git diff-index --quiet HEAD || echo "new_data=1" >> $GITHUB_OUTPUT
          echo "date=$(TZ=PRC date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Commit
        if: steps.check_update.outputs.new_data == 1
        run: git commit -m "${{ steps.check_update.outputs.date }}"

      - name: Push
        if: steps.check_update.outputs.new_data == 1
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_wait_seconds: 60
          command: |
            git pull --no-rebase
            git push

  summary:
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Summary
        id: summary
        run: |
          bash summary.sh
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git diff-index --quiet HEAD || echo "new_data=1" >> $GITHUB_OUTPUT
          echo "date=$(TZ=PRC date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Commit
        if: steps.summary.outputs.new_data == 1
        run: |
          git commit -m ${{ steps.summary.outputs.date }}
          git push

      - name: Send backup email
        if: steps.summary.outputs.new_data == 1
        uses: dawidd6/action-send-mail@v8
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: UserAgent Update Success - ${{ steps.summary.outputs.date }}
          html_body: file://README.md
          convert_markdown: true
          from: Github Actions
          to: ${{ secrets.TO }}
